<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="./CSS/estilohojacontacto.css">
    <?php
        include 'menu.php';
    ?>
    <style>
        legend {
            font-family: 'Franklin Gothic Medium';
            font-size: 36px;
            color: rgb(246, 248, 247);
            text-shadow: 5px 10px 18px #a7add6;
            text-align: center;
        }

        .division1 {
            width: 95%;
            margin-right: 2.5%;
            margin-left: 2.5%;
            height: 500px;
        }

      
    </style>
    </style>
    <script type="text/javascript">
        // Utilizamos la funcion Validar() para realizar las comprobaciones a nivel de formulario
        function Validar() { // Función para validar el formulario una vez este relleno
            var comprobado;


            if (nombre.value.length < 3) { //valida el campo nombre para que tenga mas de dos caracteres
                alert("Escriba mas de dos caracteres para su nombre");
                comprobado = false;
            }


            if (direccion.value.length < 9) { //valida el campo dirección para que tenga más de 10 caracteres
                alert("La dirección  no puede estar vacia\n y ha de tener más de 10 caracteres");
                comprobado = false;

            }

            if (poblacion.value.length < 2) { //valida el campo dirección para que tenga más de 10 caracteres
                alert("Sería recomendable que introdujese una población \n para poder tener más datos");
                comprobado = false;

            }

            if (!isNaN(edad.value) && edad.value.length >= 2) { // valida el campo edad y comprueba que sea numerico y con dos caracteres
                alert("El campo edad es correcto " + edad.value);
            }
            else {
                alert("Edad no valida, introduzca edad numerica");
                comprobado = false;

            }

            if (sexo.value == 0) { //valida el campo sexo para que este no este vacio
                alert("el campo sexo no puede estar vacio");
                comprobado = false;

            }

            if (!condiciones.checked) { //valida el campo condiciones para que este chequeado
                alert("Debe de aceptar las condiciones")
                comprobado = false;
            }

            alert("El formulario ha sido validado"); //comprobación a posteriori
            return comprobado;
        }


        function ValidarMail(mail) { //Valida el mail en la entrada del mismo comprobando que lleve "." y "@"
            var emailRegex;


            emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;

            if (emailRegex.test(mail.value)) {
                alert("mail valido");
                mail.focus();
                valido.innerText = "válido";

            }
            else {

                alert("mail no valido, introduza mail formato mail@server.com");
                this.focus();
                mail.select();


            }


        }
        function comprueba(obj) { //Funcion que comprueba que el objeto este o no vacio y lo cambia de color
            if (obj.value == '') {
                if ((document.getElementById)) {
                    obj.style.backgroundColor = "red";
                }
            } else {
                if ((document.getElementById)) {
                    obj.style.backgroundColor = "white";
                }
            }
        }

    </script>
</head>

<body background-color="f7f2dc">
    <?php
        cabecera();
    ?>
    <form method="post" action="./PHP/validar.php">
        <div class="division1">
            <fieldset>

                <div class="row g-5 align-items-right">
                    <legend class="mb-3">
                        <span class="titulo"> - Gestión de Notificaciones - </span>
                    </legend>
                </div>

                <div class="row g-5 align-items-center">
                    <!-- Input de búsqueda alineado a la derecha -->
                    <div class="col text-end">
                        <input type="text" class="form-control d-inline w-50 me-2" placeholder="Buscar..." />
                    </div>

                    <!-- Radio Buttons uno encima del otro -->
                    <div class="col-auto d-flex flex-column">

                        <!-- Radio Button 2 -->
                        <div class="form-check mt-1">
                            <input type="checkbox" class="form-check-input" id="nombre" name="criterio"
                                value="fecha_envio" />
                            <label for="fecha_envio" class="form-check-label">Fecha de envio</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="notificacion" class="form-label"><b>Notificacion</b></label>
                    <textarea id="notificacion" name="notificacion" rows="4"
                        placeholder="Texto de la notificación..."></textarea>
                </div>
                <div class="row g-5 align-items-center">

                </div>
                <div class="row g-5 align-items-center">
                    <!-- Nivel de estudios -->
                    <div class="col d-flex mb-5">
                        <label for="opciones" class="form-label label-center me-3"><b>Enviar a:</b></label>
                        <select class="form-select control-offset w-auto" id="opciones">
                            <option value="1">Administrador</option>
                            <option value="2">Profesor</option>
                            <option value="3">Alumnos activos</option>
                            <option value="4">Alumnos inactivos</option>
                            <option value="5">Recibos pendientes</option>
                            <option value="6">Curso</option>
                            <option value="7">Todos</option>
                        </select>
                    </div>

                </div>

                <div id="estilodatos3">
                    <button class="boton_personalizado1" onclick="location.href='mainpage.html'">Enviar</button>
                    <button class="boton_personalizado1" onclick="location.href='mainpage.html'">Volver</button>
                </div>

        </div>



    </form>

    <script>
        // Detectar cambios en el checkbox
        document.getElementById('estado').addEventListener('change', function () {
            const estadoLabel = document.getElementById('estado-label');
            if (this.checked) {
                estadoLabel.textContent = 'Baja'; // Cambiar texto a "Baja"
            } else {
                estadoLabel.textContent = 'Alta'; // Cambiar texto a "Alta"
            }
        });
    </script>

    <!-- Incluye Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>